@page {
  size: letter;
  width: 100%;
}

body {
  margin: 0;
}

@media only screen and (min-width: 660px) {
  article header {
      display: flex;
  }
}

.resume-qualification,
.resume-work-experience,
.resume-project-experience {
  & ul {
    padding-left: 20px;
  }
}

.resume {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;

  article {
    div:first-child  {
      flex-grow: 1;
    }
  }

  h1, h2, h3, p {
    margin-bottom: 0.5em;
    margin-top: 0;
  }

  hr {
    border-color: black;
    border-width: 2px;
  }
}

.resume-header {
  & ul {
    list-style: none;
    padding: 0;
  }

  & li {
    flex-grow: 1;

    &:last-child {
      border-right: none;
    }
  }
}

@media only screen and (min-width: 730px) {
  .resume-header {
      text-align: center;

      & ul {
        display: flex;
      }

      & li {
        flex-grow: 1;
        border-right: black solid 1px;
      }
  }
}
