@page {
  size: letter;
  width: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, p {
  margin-bottom: 0.5em;
  margin-top: 0;
}

hr {
  border-color: black;
  border-width: 2px;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-width: 660px) {
  article header {
      display: flex;
  }
}

.qualification ul,
.work-experience ul,
.project-experience ul {
  padding-left: 20px;
}

article section:first-child {
  flex-grow: 1;
}

@media only screen and (min-width: 660px) {
  .resume-header {
      text-align: center;
  }
}

.resume-header ul {
  list-style: none;
  padding: 0;
}

.resume-header li {
  flex-grow: 1;
}

.resume-header li:last-child {
  border-right: none;
}


@media only screen and (min-width: 730px) {
  .resume-header ul {
      display: flex;
  }


  .resume-header li {
      flex-grow: 1;
      border-right: black solid 1px;
  }
}
