.royalBlueTeamOne .royalBlueTeamCTARight .Image img {
  height: 100%;
}

.royalBlueTeamOne .royalBlueTeamOneWrap {
  padding: 60px 0;
}

.royalBlueTeamOne .btn p {
  margin-bottom: 15px;
}

.royalBlueTeamOne .btn a {
  width: 100%;
}

.royalBlueTeamOne .royalBlueTeamBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.royalBlueTeamOne .royalBlueTeamCTALeft {
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .royalBlueTeamOne .royalBlueTeamCTALeft {
    padding-bottom: 0;
  }
}

.royalBlueTeamOne .royalBlueTeamCTARight .File {
  height: 100%;
}

.royalBlueTeamOne .royalBlueTeamCTARight {
  height: 600px;
}

@media screen and (min-width: 992px) {
  .royalBlueTeamOne .royalBlueTeamCTARight {
    height: initial;
  }
}
.royalBlueTeamOne .royalBlueTeamCTARight .blockContents {
  height: inherit;
}

.royalBlueTeamOne .royalBlueTeamCTARight .Image {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.royalBlueTeamOne .royalBlueTeamCTARight .Image img {
  position: absolute;
  width: initial !important;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  top: 30px;
}

.royalBlueTeamOne .royalBlueTeamCTARight.showImage .Image img {
  opacity: 1;
  top: 0;
}

.royalBlueTeamOne .Embed {
  margin-bottom: 15px !important;
}
.royalBlueTeamOne .Embed > .blockContents > .Container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.royalBlueTeamOne .Embed > .blockContents > .Container iframe, .royalBlueTeamOne .Embed > .blockContents > .Container object, .royalBlueTeamOne .Embed > .blockContents > .Container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}